* { 
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: #efefef;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav .search_filter {
  float: right;
}

.topnav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search_container button {
  float: left;
  padding: 6px;
  margin-top: 8px;
  background-color: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

/*GRID*/
.container {
  display: grid;
  grid-column-gap: 1px;
  grid-row-gap: 15px;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.card {
  background-color: rgba(255, 255, 245, 0.8);
  padding: 15px;
}

header .dark_mode {
  float: right;
}

img {
  width: 100%;
  height: 187px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

img:hover {
  transform: scale(1);
}

p {
  margin: 10px;
}

b {
  font-weight: 500;
}

.card .title {
  margin:19px 0 19px 10px;
  font-size: 18px;
  font-weight: 700;
}

/*DARK MODE*/
.dark-mode {
  background: #212e37; 
}

/*MODAL*/

.background-modal {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .5);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
}

.modal {
  background-color: #fff;
  width: 500px;
  margin: auto;
  text-align: center;
}
