* { 
  margin: 0;
  padding: 0;
}

body {
  background-color: #efefef;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav .search_filter {
  float: right;
}

.topnav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search_container button {
  float: left;
  padding: 6px;
  margin-top: 8px;
  background-color: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

header .dark_mode {
  float: right;
}
